{
  "presets": [
    ["env", {
      "browsers": ["last 2 versions", "safari >= 7"],
      "useBuiltIns": true,
      "modules": false,
      "loose": true
    }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
  }
}
